@{
    ViewBag.Title = "About";
}

<div id="page-title">
    <div id="page-title-inner">
        <div class="container">
            <h2><i class="ico-stats ico-white"></i>About</h2>
        </div>
    </div>
</div>

<div id="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div class="row">
                    <div class="title"><h3>About</h3></div>
                    <p>
                        Software Developer working for SBTech.
                    </p>
                    <div class="clear"></div>

                    <div class="team-name">Martin Kostov <span> / Founder</span></div>
                </div>
                <div class="row">
                    <div class="title"><h3>Experience</h3></div>
                    <p>
                        <h3>2013-Now</h3>
                        <h4>SBTech / Software Developer</h4><br />
                        Architectural support in development process of the Live Bets Manager.<br />
                        Infrastructure building of medium-sized projects.<br />
                        Refactoring and migrating legacy systems.
                    </p>
                    <p>
                        <h3>2012-2013</h3>
                        <h4>SBTech / Junior Software Developer</h4><br />
                        Started with short training in SQL, Java Script, OOP, C#.<br />
                        In the beginning the main duties were maintenance of legacy systems. Soon after they were development and maintenance of a “Live Bets Manager” system.
                    </p>
                    <p>
                        <h3>2011</h3>
                        <h4>UniCredit Bulbank / Trainee Network Administrator</h4><br />
                        Basic network training.<br />
                        Completed cisco CCNA course.
                    </p>
                </div>
                <div class="row">
                    <div class="title"><h3>Education</h3></div>
                    <p>
                        <h3>2012-2014</h3>
                        <h4>Software Engineering, MSE / Sofia University “St. Kliment Ohridski”</h4>
                    </p>
                    <p>
                        <h3>2008-2012</h3>
                        <h4>Informatics, BInf / Sofia University “St. Kliment Ohridski”</h4>
                    </p>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <div id="sidebar">
                    <div class="row">
                        <div class="title"><h3>Skills</h3></div>
                        
                        <h5>Algorithms</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="80" style="width: 60%;">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>

                        <h5>Data Structures</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="80" style="width: 80%;">
                                <span class="sr-only">80% Complete</span>
                            </div>
                        </div>
                        
                        <h5>OOP</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="80" style="width: 100%;">
                                <span class="sr-only">100% Complete</span>
                            </div>
                        </div>
                        
                        <h5>C#</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                <span class="sr-only">80% Complete</span>
                            </div>
                        </div>
                        
                        <h5>JavaScript</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                <span class="sr-only">80% Complete</span>
                            </div>
                        </div>
                        
                        <h5>SQL</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                <span class="sr-only">80% Complete</span>
                            </div>
                        </div>
                        
                        <h5>Multithreading</h5>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>