@{
    ViewBag.Title = "Home Page";
}

<div id="page-title">
    <div id="page-title-inner">
        <div class="container">
            @*<h2>Home Page</h2>*@
        </div>
    </div>
</div>

<div id="wrapper">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>