<div class="panel panel-default">
    <div class="panel-heading">Async Call - Parameterless - FULL Example <span class="right">From <a href="/Changelog#version-2.0"><kbd>v2.0</kbd></a></span></div>
    <div class="panel-body">
        <div class="col-sm-6 col-md-6">
            <span class="glyphicon glyphicon-arrow-right"></span> <kbd>C#</kbd> Code:
            <pre class="csharpcode">
<span class="rem">// Newtonsoft.Json as example</span>
<span class="kwrd">public</span> <span class="kwrd">class</span> <span class="cls">MkJson</span> : IMkJson
{
    <span class="kwrd">public</span> <span class="kwrd">string</span> Serialize(<span class="kwrd">object</span> value)
    {
        <span class="kwrd">return</span> <span class="cls">JsonConvert</span>.SerializeObject(value);
    }
    <span class="kwrd">public</span> <span class="kwrd">object</span> Deserialize(<span class="kwrd">string</span> value, 
        <span class="cls">Type</span> type)
    {
        <span class="kwrd">return</span> <span class="cls">JsonConvert</span>.DeserializeObject(
            value, type);
    }
}

[<span class="cls">AjaxClass</span>]
<span class="kwrd">public</span> <span class="kwrd">class</span> <span class="cls">WebMethods</span> : <span class="cls">AjaxHandler</span>
{
    <span class="rem">// Injected Newtonsoft.Json</span>
    <span class="kwrd">public</span> WebMethods() : <span class="kwrd">base</span>(<span class="kwrd">new</span> MkJson()) {}

    [<span class="cls">AjaxMethod</span>]
    <span class="kwrd">public</span> <span class="kwrd">static</span> <span class="kwrd">string</span> GetMessage()
    {
        <span class="kwrd">return</span> <span class="str">"Hello world."</span>;
    }
}
</pre>
        </div>
        <div class="col-sm-6 col-md-6">          
            <span class="glyphicon glyphicon-arrow-right"></span> <kbd>JS</kbd> Usage:
            <pre class="csharpcode">
<span class="rem">// Scripts to include</span>
&#60;<span class="kwrd">script</span> src="<span class="str">Scripts/MkAjax.min.js</span>"&#62;&#60;<span class="kwrd">script</span>&#62;
&#60;<span class="kwrd">script</span> src="<span class="str">webapi/WebMethods.ashx</span>"&#62;&#60;<span class="kwrd">script</span>&#62;
<span class="rem">//...</span>
WebMethods.getMessage(
    <span class="kwrd">function</span>(isSuccess, result) {
        <span class="kwrd">if</span> (isSuccess) {
            <span class="rem">// Use the result here</span>
        }
    }
);
</pre>
        </div>
    </div>
</div>